{
  "presets": [ "es2015", "stage-0" ],
  "plugins": [
    [
      "weexcomponent",
      {
        "style": false,
        "jsTheme": true,
        "libraryName": "weex-ui",
        "libDir": "packages",
        "themeConfig": {
          "name": "default"
        }
      }
    ]
  ]
}
